body {
	margin: 0px 0px 0px 0px;
	padding: 0;
	background: url(leg.jpg) ;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #8F8F8F;
}
 span
 {
   position: relative;
    float: ; 
    display: inline;
 }   
body
{
background-color: #566A6B;
}


label{
    display: inline-block;
     padding: 0.3%;
    margin: 0.15%;
    float: left;
    clear: left;
    width: 90px;

    text-align: left;
}

.image-upload > input
{
    display: none;
}
.reg-form
{

padding-top: 12%;
padding-left: 6%;
}
.reg-form ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    border: 1px solid #555;
}
.reg-form li a {
    display: block;
    color: #000;
    padding: 8px 1px;
    text-decoration: none;
}
.reg-form li {
    text-align: center;
    border-bottom: 1px solid #555;
}
.reg-form li a:hover {
    background-color: #555;
    color: white;
}
.add-btn {
    margin-top: 28%;
}

.basic-form
{
background-color: rgba(220, 234, 234, 0.14);
width:1120 ;
height:500;
margin-left: 7%;
margin-right: 7%;
}
textarea
{
    background-color: #566A6B;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: 200;
	color: #222222;
}

h2 {
	font-size: 3em;
}

p, ol, ul {
	margin-top: 0px;
	padding: 0px;
}

p, ol {
	line-height: 180%;
}

strong {
}

a {
	color: #5C5539;
}

a:hover {
	text-decoration: none;
}



#head {
	overflow: hidden;
	background: url(Leg.jpg);
}

#header {
	width: 1200px;
	height: 150px;
	margin: 0 auto;
	padding: 0px 0px;
}

/* Logo */

#logo {
	float: left;
	width: 310px;
	height: 150px;
	padding: 0px 0px 0px 40px;
}

#logo h1 {
	padding: 50px 0px 0px 0px;
	text-transform: lowercase;
	letter-spacing: -2px;
	font-size: 3.6em;
}

#logo h1 a {
	text-decoration: none;
	color: #FFFFFF;
}


#menu {
	float: right;
	width: 810px;
	height: 80px;
	padding: 20px 40px 0px 0px;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 40px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	margin-left: 1px;
	padding: 7px 20px 7px 20px;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #FFFFFF;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	background: #A0190A;
	box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,.1);
	border-radius: 5px;
	color: #FFFFFF;
}

.details
 {
	
	width: 50%;
	height: 10%;
	}

.details ul {
	float: right;
	margin: 0;
	list-style: none;
	line-height: normal;

}

.details li {
	
	
	
	margin-left: 30%;
}

.details a {
	display: block;
	margin-left: 1px;
	padding: 7px 20px 7px 20px;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #FFFFFF;
}



#page-wrapper {
	overflow: hidden;
}

#page {
	overflow: hidden;
	width: 1120px;
	margin: 0px auto;
	padding: 50px 40px;
	color: #8F8F8F;
}




#banner {
	overflow: hidden;
	width: 1160px;
	margin: 20px auto 50px auto;
}




